# Dependências do Node
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilações e Executáveis do Electron
dist/
build/
out/
*.exe
*.dmg
*.AppImage
*.deb
*.rpm

# Arquivos de Sistema e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
